{% extends 'layout.html' %}

{% block button %}
    <a class="add-pet-btn" href="{{ url_for('add_pet') }}" alt="Add Pet"> 
        <i class="fas fa-plus"></i>
        Pet
    </a> 
{% endblock %}

{% block content %}
    <section id="pet-cards">
        <a href="{{ url_for('pet')}}">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2019/08/19/07/45/dog-4415649_960_720.jpg" alt="Dog picture">
                <h2>Name</h2>
                <h3>6 months</h3>
                <p>This is a great dog. The best dog in all the world.</p>
            </div>
        </a>
        <a href="{{ url_for('pet')}}">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2019/08/19/07/45/dog-4415649_960_720.jpg" alt="Dog picture">
                <h2>Name</h2>
                <h3>6 months</h3>
                <p>This is a great dog. The best dog in all the world.</p>
            </div>
        </a>
        <a href="{{ url_for('pet')}}">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2019/08/19/07/45/dog-4415649_960_720.jpg" alt="Dog picture">
                <h2>Name</h2>
                <h3>6 months</h3>
                <p>This is a great dog. The best dog in all the world.</p>
            </div>
        </a>
        <a href="{{ url_for('pet')}}">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2019/08/19/07/45/dog-4415649_960_720.jpg" alt="Dog picture">
                <h2>Name</h2>
                <h3>6 months</h3>
                <p>This is a great dog. The best dog in all the world.</p>
            </div>
        </a>
        <a href="{{ url_for('pet')}}">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2019/08/19/07/45/dog-4415649_960_720.jpg" alt="Dog picture">
                <h2>Name</h2>
                <h3>6 months</h3>
                <p>This is a great dog. The best dog in all the world.</p>
            </div>
        </a>
    </section>
    
{% endblock %}